<!-- templates/thank_you.html -->
{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <div class="emoji-title">🎉</div>
    <h2>Grazie per esserti registrata!</h2>
    <p class="mb-4">Ti terremo aggiornata sulle nostre novità</p>
    <a href="{{ url_for('start') }}" class="btn btn-primary btn-lg">Nuova registrazione <span id="countdown">(10)</span></a>
</div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script>
        function launchConfetti() {
            confetti({
                particleCount: 100,
                spread: 70,
                origin: { y: 0.6 }
            });
        }

        function startCountdown() {
            var countdownElement = document.getElementById('countdown');
            var countdown = 10;
            var interval = setInterval(function() {
                countdown--;
                countdownElement.textContent = '(' + countdown + ')';
                if (countdown <= 0) {
                    clearInterval(interval);
                    window.location.href = "{{ url_for('start') }}";
                }
            }, 1000);
        }

        window.onload = function() {
            launchConfetti();
            startCountdown();
        };
    </script>
{% endblock %}